<div class="container">
  <div class="col-xs-12" *ngIf="(user$ | async) as user; else noUser">
    <div class="row">
        <div class="alert alert-dark"><h3>{{user.name}} {{user.surname}}'s Page</h3></div>
    </div>
    <div class="row">
      <div *ngIf="(user$ | async).age >= 18; else underageMessage">
        <div class="alert alert-success">ACCESS</div>
        <img src="https://as1.ftcdn.net/jpg/02/18/48/10/500_F_218481058_QhFxFXt4X5JRdzSTZUc6H9NC7dvl9zVP.jpg" alt="Success">
      </div>
      <ng-template #underageMessage>
        <div class="alert alert-danger">You must be at least 18 years old!</div>
      </ng-template>
    </div>
  </div>
  <ng-template #noUser>
    <div>
      <h1>No user available</h1>
      <h4>Please create one to access the content.</h4>
      <button routerLink="/userData" class="btn btn-primary">Create user</button>
    </div>
  </ng-template>
</div>
