/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
  font-family: lato, sans-serif;
  font-size: 1.2rem;
  border-radius: 0!important;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1, h2 {
  margin-top: 2rem;
}

h1, h2, h3, h4 {
  margin-bottom: 1rem;
}

.row {
  justify-content: center;
}
.alert {
  width: 100%;
  border: none;
  border-radius: 0;
  text-align: center;
}