<ngx-spinner type="ball-clip-rotate"></ngx-spinner>
<div class="container">
  <h1>User Data</h1>
  <div class="user-form" *ngIf="userForm">
    <form [formGroup]="userForm">
      <div class="row form-group">
        <label for="name" class="col-md-3">Name</label>
        <input type="text" class="form-control col-md-6" id="name" formControlName="name">
        <div class="col-md-3">
          <div class="alert alert-danger" *ngIf="userForm.get('name').invalid && (userForm.get('name').dirty || userForm.get('name').touched)">Invalid Character</div>
          </div>
      </div>
      <div class="row form-group">
        <label for="name" class="col-md-3">Surname</label>
        <input type="text" class="form-control col-md-6" id="surname" formControlName="surname">
        <div class="col-md-3">
          <div class="alert alert-danger" *ngIf="userForm.get('surname').invalid && (userForm.get('surname').dirty || userForm.get('surname').touched)">Invalid Character</div>
        </div>
      </div>
      <div class="row form-group">
        <label for="name" class="col-md-3">Age</label>
        <input type="text" class="form-control col-md-6" id="age" formControlName="age">
        <div class="col-md-3">
          <div class="alert alert-danger" *ngIf="userForm.get('age').invalid && (userForm.get('age').dirty || userForm.get('age').touched)">Invalid Character</div>
        </div>
      </div>
      <div class="alert alert-success" *ngIf="!userForm.get('name').invalid && !userForm.get('surname').invalid">Hello {{name}} {{surname}}!</div>
      <div class="row">
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" (click)="onSubmit()">Save</button>
      </div>
      </form>
  </div>
</div>
